/** A combination of Uglyduck's typesafe css and HTML Boilerplate's main css
 *
 * https://tdarb.org/typesafe-css/
 *
 * HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/
 * main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme 
**/
* {
    box-sizing:border-box;
}
body {
    font:16px/1.5 "Helvetica Neue","Helvetica","Arial",sans-serif;
    margin:0 auto;
    max-width:66ch;
    padding:1rem;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
**/
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:"Georgia",serif;
    margin:2.5rem 0 1rem;
}
ul li,
ol li {
    margin-top:0.5rem;
}
a,
a:visited {
    color:blue;
    text-decoration: underline;
}
a:hover {
    color:dodgerblue;
}
img {
    height:auto;
    max-width:100%;
}
pre {
    border: 1px solid lightgrey;
    overflow:auto;
}
code {
    color:orangered;
    display:inline-block;
}
pre code {
    padding:1rem;
}
blockquote {
    border-left:5px solid lightgrey;
    font-size:120%;
    font-style:italic;
    margin:2rem 0;
    padding:1rem;
}
table {
    border-collapse:collapse;
    margin:2rem 0;
    text-align:left;
    width:100%;
}
tr {
    border-bottom:1px solid lightgrey;
}
th,
td {
    padding:0.5rem;
}
hr {
    display: block;
    background:lightgrey;
    border:0;
    border-top: 1px solid #ccc;
    height:1px;
    margin:2rem 0;
    padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
**/
textarea {
    resize: vertical;
}

/*
 * Hide visually and from screen readers
**/
.hidden,
[hidden] {
   display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces
 *     and small width causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
**/
.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}
/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
**/
.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
**/

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}
 
/*
 * Hide visually and from screen readers, but maintain layout
**/
.invisible {
    visibility: hidden;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    /*
        * Don't show links that are fragment identifiers,
        * or use the `javascript:` pseudo protocol
        */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
    **/
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* menu.css */
/* https://codepen.io/alvarotrigo/pen/MWEJEWG */
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  z-index: 10000;
  }
  
  .menu > li {
    margin: 0 10px;
  }
  
  .menu-button-container {
    display: none;
    width: 30px;
    height: 30px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
  
    .menu {
      position: absolute;
      top: 0;
      margin-top: 100px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      z-index: 10000;
      background-color: white;
    }
  
    #menu-toggle ~ .menu li {
      display: none;
    }
  
    #menu-toggle:checked ~ .menu li {
      border-bottom: 1px solid #f5f5f5;
      height: 2.5em;
      padding: 0.5em;
      display: block;
    }
  
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
    }
}
/* blr.css */
:root {
    --plazi-font-color: #4e565f;
    --plazi-green: #57B756;
    --plazi-dark-green: #1C460C;
    --plazi-background-color: grey;
    --record-blue: #0E81bC;
    --main-width: 100%;
}
body {
    /* overrides typesafe */
    max-width: 100% !important;
    /**********************/

    padding: 0;

    /* make footer stay at the bottom              */
    /* https://stackoverflow.com/a/20352949/183692 */
    min-height:100vh; 
    margin:0;
    display:flex; 
    flex-direction:column;
    /***********************************************/
}
a.nav-link {
    text-decoration: none;
    color: var(--plazi-green) !important;
}
header,
#map,
#dashboard,
main {
    width: var(--main-width);
    max-width: var(--main-width);
}
header {
    margin-bottom: 1rem;
    margin: 0 auto;
    padding: 1rem;
    height: 100px;
}
#map { 
    height: 200px; 
    border: 1px solid black;
	padding: 5px;
    margin: 0 auto;
}
footer {
    clear: both;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--plazi-dark-green);
    padding: 0px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;

    /* make footer stay at the bottom              */
    /* https://stackoverflow.com/a/20352949/183692 */
    margin-top:auto;
    /***********************************************/
}
footer p {
    color: white;
    text-align: center;
    font-size: 0.9rem;
}
a {
    text-decoration: none;
    color: var(--plazi-green);
}
a:visited {
    color: var(--plazi-green) !important;;
}
main {
    padding: 1rem;
    margin: 0 auto;
}
#query_string {
    width: 100%;
    border-radius: 20px;
    border: 1px solid lightgrey;
    font-size: 1.2rem;
    padding: 5px 15px;;
}
form {
    position: relative;
    width: 100%;
    padding: 0;
    text-align: center;
}
form button {
    width: 100%;
    border-radius: 20px;
    border: 1px solid var(--plazi-green);
    height: 30px;
    margin: 5px 0;
    background-color: var(--plazi-green);
    color: white;
}
form button:hover {
    background-color: var(--plazi-dark-green);
    cursor: pointer;
}
form button.inactive {
    opacity: 0.4;
}
form button.active {
    opacity: 1;
}
/* https://codeconvey.com/onclick-button-loading-animation-css/ */
form button.spinning {
    padding-right: 40px;
    position: relative;
}
form button.spinning:after,
form button.spinning:before {
    content: '';
    right: 6px;
    top: 45%;
    width: 0px;
    height: 0px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid lightgreen;
    border-right: 3px solid #27ae60;
    -webkit-animation: rotate360 0.5s infinite linear, exist 0.1s forwards ease;
            animation: rotate360 0.5s infinite linear, exist 0.1s forwards ease;
}
@-webkit-keyframes rotate360 {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotate360 {
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes exist {
    100% {
        width: 15px;
        height: 15px;
        margin: -8px 5px 0 0;
    }
}
@keyframes exist {
    100% {
        width: 15px;
        height: 15px;
        margin: -8px 5px 0 0;
    }
}
div.input-type-container {
    text-align: center;
    padding: 1rem 0;
}
div.input-type-container label {
    padding: 5px;
    font-size: 10pt;
}

@media screen and (min-width: 768px){
    :root {
        --main-width: 800px;
    }
    
    form button {
        width: 32%;
    }
}
/* records.css */
div.record h2 {
    font-size: 1.25rem;
    line-height: 1.6rem;
    color: var(--plazi-green);
}
div.record .recBtn {
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.5;
    background-color: var(--record-blue);
    border-color: var(--record-blue);
    display: inline-block;
    width: 270px;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
}
#pager {
    text-align: center;
    margin-top: 1rem;
}
/* db.css */
:root {
    --dashboard-height: 300px;
    --dashboard-padding: 20px;
}
#dashboard {
    min-width: 320px;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: none;
    padding: var(--dashboard-padding);
    border: 1px solid #ddd;
    height: var(--dashboard-height);
}

input.tabs[type=radio] {
    display: none;
}

label.tabs {
    display: inline-block;

    /* -1px ensures the bottom border of label tabs is hidden */
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}
label.tabs img {
    width: 15px;
    vertical-align: baseline;
    margin-right: 5px;
}
label.tabs:before {
  margin-right: 10px;
}

label.tabs:hover {
    color: #888;
    cursor: pointer;
}

input:checked + label.tabs {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid var(--plazi-green);
    border-bottom: 1px solid #fff;
}

#tab1:checked ~ #tab1_content,
#tab2:checked ~ #tab2_content,
#tab3:checked ~ #tab3_content {
    display: block;
}

@media screen and (max-width: 650px) {
    label.tabs {
        font-size: 0;
    }

    label.tabs:before {
        margin: 0;
        font-size: 18px;
    }
}
@media screen and (max-width: 400px) {
    label.tabs {
        padding: 15px;
    }
}
/* db-tiles.css */
#controller {
    text-align: center;
    margin-bottom: 2rem;
}

/* input range */
/* https://www.cssportal.com/style-input-range/ */
#years {
    height: 25px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 90%;
    max-width: 400px;
}
#years:focus {
    outline: none;
}
#years::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: var(--plazi-green);
    border-radius: 1px;
    border: 0px solid #000000;
}
#years::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid var(--plazi-green);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: var(--plazi-green);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
#years:focus::-webkit-slider-runnable-track {
    background: var(--plazi-green);
}
#years::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: var(--plazi-green);
    border-radius: 1px;
    border: 0px solid #000000;
}
#years::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid var(--plazi-green);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: var(--plazi-green);
    cursor: pointer;
}
#years::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
#years::-ms-fill-lower {
    background: var(--plazi-green);
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}
#years::-ms-fill-upper {
    background: var(--plazi-green);
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}
#years::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid var(--plazi-green);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: var(--plazi-green);
    cursor: pointer;
}
#years:focus::-ms-fill-lower {
    background: var(--plazi-green);
}
#years:focus::-ms-fill-upper {
    background: var(--plazi-green);
}
/* end input range */

#tiles {
    display: table;
    margin: 0 auto;
}
.tile {
    border: 1px solid;
    border-radius: 5px;
    width: 30%;
    max-width: 120px;
    height: 70px;
    padding: 5px;
    display: inline-block;
    vertical-align:middle;
    text-align: center;
    margin: 3px;
    font-family: sans-serif;
    font-size: 9pt;
}
#tiles div.title {
    font-weight: 800;
}
@media screen and (min-width: 1024px){
}
/* db-maps.css */
#db-maps { 
    height: calc(var(--dashboard-height) - calc(2 * var(--dashboard-padding))); 
    width: 100%;
}
.db-map {
    height: 100%;
     position: relative;
}
.map {
    width: 100%;
    height: 100%;
}
.list {
    display: none;
    font-size: 10px;
    width: 100%;
    height: 100%;
    overflow: auto;
    border: 1px solid lightgrey;
}
.list > ul {
    list-style: none;
    margin: 0;
    padding: 5px;
}
.list > ul li {
    line-height: 20px;
    padding-left: 5px;
    margin: 0;
    border: 1px solid lightgrey;
}
.list > ul li:nth-of-type(even) {
    background-color: lightgrey;
}

@media screen and (min-width: 520px){
    .map {
        display: inline-block;
        width: 70%;
        position: absolute;
    }
    .list {
        display: inline-block;
        width: 30%;
        position: absolute;
        right: 0;
    }
}
/* db-charts.css */
#db-charts {
    width: 100%;
    text-align: center;
}
@media screen and (min-width: 520px){
    #db-charts div {
        width: 28%;
        display: inline-block;
    }
}
/*** carousel ********************/
/* https://webdesign.tutsplus.com/tutorials/how-to-build-a-simple-carousel-with-vanilla-javascript--cms-41734 */
.slider-wrapper {
    position: relative;
    overflow: hidden;
    border: 1px solid lightgrey;
}
 
.slides-container {
    height: calc(var(--dashboard-height) - calc(2 * var(--dashboard-padding)));
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    scroll-behavior: smooth;
}
.slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
}

/* hide the scroll bar on our slidesContainer */
/**********************************************/
.slides-container {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
 
/* WebKit */
.slides-container::-webkit-scrollbar { 
    width: 0;
    height: 0;
}
/**********************************************/

/* style the carousel buttons */
/******************************/
.slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
}
 
.slide-arrow:hover,
.slide-arrow:focus {
    opacity: 1;
    border: 1px solid lightgrey;
}
 
#slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
}
 
#slide-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
}
/******************************/

@media screen and (min-width: 520px){
    .slide {
        width: 33.3%;
        flex: 1 0 33.3%;
    }
}