/* blr.css */
:root {
    --plazi-font-color: #4e565f;
    --plazi-green: #57B756;
    --plazi-dark-green: #1C460C;
    --plazi-background-color: grey;
    --record-blue: #0E81bC;
    --main-width: 100%;
}
body {
    /* overrides typesafe */
    max-width: 100% !important;
    /**********************/

    padding: 0;

    /* make footer stay at the bottom              */
    /* https://stackoverflow.com/a/20352949/183692 */
    min-height:100vh; 
    margin:0;
    display:flex; 
    flex-direction:column;
    /***********************************************/
}
a.nav-link {
    text-decoration: none;
    color: var(--plazi-green) !important;
}
header,
#map,
#dashboard,
main {
    width: var(--main-width);
    max-width: var(--main-width);
}
header {
    margin-bottom: 1rem;
    margin: 0 auto;
    padding: 1rem;
    height: 100px;
}
#map { 
    height: 200px; 
    border: 1px solid black;
	padding: 5px;
    margin: 0 auto;
}
footer {
    clear: both;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--plazi-dark-green);
    padding: 0px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;

    /* make footer stay at the bottom              */
    /* https://stackoverflow.com/a/20352949/183692 */
    margin-top:auto;
    /***********************************************/
}
footer p {
    color: white;
    text-align: center;
    font-size: 0.9rem;
}
a {
    text-decoration: none;
    color: var(--plazi-green);
}
a:visited {
    color: var(--plazi-green) !important;;
}
main {
    padding: 1rem;
    margin: 0 auto;
}
#query_string {
    width: 100%;
    border-radius: 20px;
    border: 1px solid lightgrey;
    font-size: 1.2rem;
    padding: 5px 15px;;
}
form {
    position: relative;
    width: 100%;
    padding: 0;
    text-align: center;
}
form button {
    width: 100%;
    border-radius: 20px;
    border: 1px solid var(--plazi-green);
    height: 30px;
    margin: 5px 0;
    background-color: var(--plazi-green);
    color: white;
}
form button:hover {
    background-color: var(--plazi-dark-green);
    cursor: pointer;
}
form button.inactive {
    opacity: 0.4;
}
form button.active {
    opacity: 1;
}
/* https://codeconvey.com/onclick-button-loading-animation-css/ */
form button.spinning {
    padding-right: 40px;
    position: relative;
}
form button.spinning:after,
form button.spinning:before {
    content: '';
    right: 6px;
    top: 45%;
    width: 0px;
    height: 0px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid lightgreen;
    border-right: 3px solid #27ae60;
    -webkit-animation: rotate360 0.5s infinite linear, exist 0.1s forwards ease;
            animation: rotate360 0.5s infinite linear, exist 0.1s forwards ease;
}
@-webkit-keyframes rotate360 {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotate360 {
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes exist {
    100% {
        width: 15px;
        height: 15px;
        margin: -8px 5px 0 0;
    }
}
@keyframes exist {
    100% {
        width: 15px;
        height: 15px;
        margin: -8px 5px 0 0;
    }
}
div.input-type-container {
    text-align: center;
    padding: 1rem 0;
}
div.input-type-container label {
    padding: 5px;
    font-size: 10pt;
}

@media screen and (min-width: 768px){
    :root {
        --main-width: 800px;
    }
    
    form button {
        width: 32%;
    }
}