#db-charts {
    width: 100%;
    text-align: center;
}
#db-charts div {
    border: 1px solid;
    margin: 0.5rem;
    height: 200px;
}
@media screen and (min-width: 800px){
    #db-charts div {
        width: 28%;
        display: inline-block;
    }
}