#db-maps { 
    height: 280px; 
    width: 100%;
}
.db-map {
    height: 100%;
     position: relative;
}
.map {
    width: 100%;
    height: 100%;
}
.list {
    width: 100%;
    height: 100%;
    overflow: auto;
    border: 1px solid lightgrey;
}
.list > ul {
    list-style: none;
    margin: 0;
    padding: 5px;
}
.list > ul li {
    line-height: 24px;
    padding-left: 5px;
    margin: 0;
    border: 1px solid lightgrey;
}
.list > ul li:nth-of-type(odd) {
    background-color: lightgrey;
}

@media screen and (min-width: 800px){
    .map {
        display: inline-block;
        width: 70%;
        position: absolute;
    }
    .list {
        display: inline-block;
        width: 30%;
        position: absolute;
        right: 0;
    }
}