#controller {
    text-align: center;
}

/* input range */
/* https://www.cssportal.com/style-input-range/ */
#years {
    height: 25px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 90%;
    max-width: 400px;
}
#years:focus {
    outline: none;
}
#years::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    /* animate: 0.2s; */
    box-shadow: 0px 0px 0px #000000;
    background: var(--plazi-green);
    border-radius: 1px;
    border: 0px solid #000000;
}
#years::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid var(--plazi-green);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: var(--plazi-green);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
#years:focus::-webkit-slider-runnable-track {
    background: var(--plazi-green);
}
#years::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    /* animate: 0.2s; */
    box-shadow: 0px 0px 0px #000000;
    background: var(--plazi-green);
    border-radius: 1px;
    border: 0px solid #000000;
}
#years::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid var(--plazi-green);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: var(--plazi-green);
    cursor: pointer;
}
#years::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    /* animate: 0.2s; */
    background: transparent;
    border-color: transparent;
    color: transparent;
}
#years::-ms-fill-lower {
    background: var(--plazi-green);
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}
#years::-ms-fill-upper {
    background: var(--plazi-green);
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}
#years::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid var(--plazi-green);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: var(--plazi-green);
    cursor: pointer;
}
#years:focus::-ms-fill-lower {
    background: var(--plazi-green);
}
#years:focus::-ms-fill-upper {
    background: var(--plazi-green);
}
/* end input range */

#tiles {
    display: table;
    margin: 0 auto;
}
#tiles > div {
    border: 1px solid;
    border-radius: 5px;
    width: 118px;
    height: 50px;
    padding: 5px;
    display: inline-block;
    vertical-align:middle;
    text-align: center;
    margin: 3px;
    font-family: sans-serif;
    font-size: 9pt;
    /* float: left; */
}
#tiles div.title {
    font-weight: 800;
}
@media screen and (min-width: 1024px){
    #tiles > div {
        width: 300px;
    }
}