#dashboard {
    min-width: 320px;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

input.tabs[type=radio] {
    display: none;
}

label.tabs {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

label.tabs:before {
  margin-right: 10px;
}

label.tabs:hover {
    color: #888;
    cursor: pointer;
}

input:checked + label.tabs {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
    display: block;
}

@media screen and (max-width: 650px) {
    label.tabs {
        font-size: 0;
    }

    label.tabs:before {
        margin: 0;
        font-size: 18px;
    }
}
@media screen and (max-width: 400px) {
    label.tabs {
        padding: 15px;
    }
}