/*! db.css */

:root {
    --dashboard-height: 300px;
    --dashboard-padding: 20px;
}
#dashboard {
    min-width: 320px;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: none;
    padding: var(--dashboard-padding);
    border: 1px solid #ddd;
    height: var(--dashboard-height);
}

input.tabs[type=radio] {
    display: none;
}

label.tabs {
    display: inline-block;

    /* -1px ensures the bottom border of label tabs is hidden */
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}
label.tabs img {
    width: 15px;
    vertical-align: baseline;
    margin-right: 5px;
}
label.tabs:before {
  margin-right: 10px;
}

label.tabs:hover {
    color: #888;
    cursor: pointer;
}

input:checked + label.tabs {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid var(--plazi-green);
    border-bottom: 1px solid #fff;
}

#tab1:checked ~ #tab1_content,
#tab2:checked ~ #tab2_content,
#tab3:checked ~ #tab3_content {
    display: block;
}

@media screen and (max-width: 650px) {
    label.tabs {
        font-size: 0;
    }

    label.tabs:before {
        margin: 0;
        font-size: 18px;
    }
}
@media screen and (max-width: 400px) {
    label.tabs {
        padding: 15px;
    }
}