/*! menu.css */

/* https://codepen.io/alvarotrigo/pen/MWEJEWG */
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
z-index: 10000;
}

.menu > li {
  margin: 0 10px;
}

.menu-button-container {
  display: none;
  width: 30px;
  height: 30px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

#menu-toggle {
  display: none;
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 100px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    background-color: white;
  }

  #menu-toggle ~ .menu li {
    display: none;
  }

  #menu-toggle:checked ~ .menu li {
    border-bottom: 1px solid #f5f5f5;
    height: 2.5em;
    padding: 0.5em;
    display: block;
  }

  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
  }
}