/* records.css */
div.record h2 {
    font-size: 1.25rem;
    line-height: 1.6rem;
    color: var(--plazi-green);
}
div.record .recBtn {
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.5;
    background-color: var(--record-blue);
    border-color: var(--record-blue);
    display: inline-block;
    width: 270px;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
}
#pager {
    text-align: center;
    margin-top: 1rem;
}